.modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(239, 243, 246, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 110;
}

.modal {
    border-radius: 20px;
    background-color: #fff;
    padding: 24px;
}