.input {
    all: unset;
    border-radius: 20px;
    width: 100%;
    background: #FAFAFA;
    box-shadow: inset 0px 0px 10px rgba(117, 117, 117, 0.2);
    padding: 8px 16px;
    box-sizing: border-box;
}