@import '../../variables.scss';

.auction-for-participant {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        @media (min-width: $desktop-breakpoint) {
            width: $desktop-medium-content-width;
        }
    }

    &__head {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__head-info {
        display: flex;
        align-items: center;
    }

    &__head-info-label {
        margin-right: 4px;
    }

    &__lots-container {
        flex: 1;
        margin-top: 16px;
    }

    &__lot {
        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }

    &__current-lot {
        margin-bottom: 32px;
    }

    &__bid-input {
        margin-bottom: 16px;
    }
}

.auction-for-participant-current-lot {
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(117, 117, 117, 0.4);
    border: 1px solid #C5C5CB;
    padding: 12px;

    &__label {
        font-size: 20px;
        text-align: center;
        margin-bottom: 12px;
    }

    &__name {
        font-weight: 500;
        margin-bottom: 8px;
    }

    &__info {
        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }
}