@import './variables.scss';

.page-container {
    height:  100vh;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
    padding-top: 32px;
    box-sizing: border-box;

    &--low-paddings {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.auth-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-weight: 100;
        text-align: center;
        margin-top: 12px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;

        @media (min-width: $desktop-breakpoint) {
            width: $desktop-small-content-width;
            height: 500px;
            flex: unset;
        }
    }

    &__fields-container {
        width: 100%;
        flex: 1;
    }

    &__field {
        &:not(:last-child) {
            margin-bottom: 18px;
        }
    }

    &__buttons-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__button {
        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }
}

.link {
    all: unset;
}