.lot-simplified-item {
    padding: 12px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(117, 117, 117, 0.4);

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__status {
        color: #C5C5CB;
    }

    &__name {
        font-weight: 500;
    }
}